doctype html
html
    head
        meta(http-equiv="content-type", content="text/HTML;charset=UTF-8")
        title jade tests
        link(rel="stylesheet", href="/css/bootstrap.min.css", media="screen")
        link(rel="stylesheet", href="/css/styles.css", media="screen")
        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/jade.min.js")
    body
        div#content
        script(src="/js/index.js")
